In [1]:
print("hello")

hello

In [2]:
temperature = 98.4 # assignment

In [3]:
print(temperature)

98.4

In [4]:
numberOfStudent = 5

In [6]:
print(numberOfStudent)

5

In [7]:
firstText = 'Hello' #String

In [8]:
print(firstText)

Hello

In [10]:
 print(Temperature) #대소문자 구분 명확해야함

NameError: name 'Temperature' is not defined

In [11]:
number05_of_progamming = 56

In [12]:
05number = 5

SyntaxError: invalid token (<ipython-input-12-c92dfac2669f>, line 1)

In [13]:
True

True

In [14]:
trial = True

In [15]:
print(trial)

True

In [16]:
trial = False

In [17]:
print(trial)

False

In [18]:
trial = 2 < 3

In [19]:
print(trial)

True

In [20]:
bool()

False

In [21]:
bool(trial)

True

In [22]:
a = 5

In [23]:
print(a)

5

In [24]:
int(6)

6

In [25]:
int(0)

0

In [26]:
a = int(6)

In [27]:
print(a)

6

In [28]:
int(3.14)

3

In [29]:
int(3.95)

3

In [30]:
int("135")

135

In [31]:
float()

0.0

In [32]:
float(3)

3.0

In [33]:
float("5.14")

5.14

In [34]:
float("3") #[]는 경계를 설정하는것 , ()는 빈칸

3.0

In [35]:
list1 = ['red', 'green', 'blue']

In [36]:
print(list1)

['red', 'green', 'blue']

In [37]:
list2 = []

In [38]:
list()

[]

In [39]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [40]:
print(list2)

[]

In [41]:
tuple1 = (1, 2, 4, 7,)

In [42]:
tuple1 #tuple은 immutable , ()

(1, 2, 4, 7)

In [43]:
list1 = [1,2,4,7]

In [45]:
list1[2]

4

In [46]:
tuple1[2]

4

In [47]:
list1[2] = 9999

In [48]:
list1 #list는 mutable , []

[1, 2, 9999, 7]

In [49]:
tuple1[2] = 9999 #tuple은 unchangeable

TypeError: 'tuple' object does not support item assignment

In [54]:
print("""
This is the example of String
You can type any text in multiple lines

""") #엔터치는 줄 수 만큼 달라짐

This is the example of String
You can type any text in multiple lines

In [55]:
set1 = {'a','a','b','b','c'}

In [56]:
set1 #set은 {}

{'a', 'b', 'c'}

In [57]:
dict1 = {"ga": "Irish", "de":"German"}

In [58]:
dict1

{'ga': 'Irish', 'de': 'German'}

In [59]:
dict1["ga"]

'Irish'

In [60]:
pairs = [('ga', 'Irish'), ('de','German')]

In [61]:
dict(pairs)

{'ga': 'Irish', 'de': 'German'}

In [62]:
3 + 5

8

In [63]:
"hello" + "world"

'helloworld'

In [65]:
'hello' > 'Hello' #True인 것은 아스키 코드표에 의해 소문자의 숫자가 더 큼

True

In [66]:
"abc" < "def"

True

In [67]:
5 / 3

1.6666666666666667

In [68]:
5 // 3 #몫

1

In [69]:
# is : same identity
# is not : different identity
# == : equivalent
# != : not equivalent

In [70]:
5 % 3 #나머지

2

In [71]:
2 + 3.0

5.0

In [72]:
3.0 * 4 #float 곱했으니까 답도 float로 나옴

12.0

In [75]:
a = 60              # 60 = 0011 1100
b = 13              # 13 = 0000 1101
c = 0

c = a & b;          # 12 = 0000 1100
print("Line 1 - Value of c is ", c)

c = a | b;          # 61 = 0011 1101
print("Line 2 - Value pf c is ", c)

c = a ^ b;          # 49 = 0011 0001
print("Line 3 - Value of c is ", c)

c = ~a;             # -61 = 1100 0011
print("Line 4 - Value of c is ", c)

c = a << 2;         # 240 = 1111 0000
print("Line 5 - Value of c is ", c)

c = a >> 2;         # 15 = 0000 1111
print("Line 6 - Value of c is" , c)

Line 1 - Value of c is  12
Line 2 - Value pf c is  61
Line 3 - Value of c is  49
Line 4 - Value of c is  -61
Line 5 - Value of c is  240
Line 6 - Value of c is 15

In [76]:
# Bitwise Operators
# ~ : bitwise complement(prefix unary operator)
# & : bitwise and
# | : bitwise or
# ^ : bitwise exclusive - or
# << : shift bits left, filling in with zeros
# >> : shifts bits right, filling in with sign bit

In [77]:
list1

[1, 2, 9999, 7]

In [79]:
list1[1]

2

In [81]:
list1[1:3] # elements in index 1 and 2

[2, 9999]

In [82]:
list2 = [1,2,3,4,5,6,7,8,9,10]

In [83]:
list2[1:9:2]

[2, 4, 6, 8]

In [84]:
list1 + list2

[1, 2, 9999, 7, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [85]:
3 * list1

[1, 2, 9999, 7, 1, 2, 9999, 7, 1, 2, 9999, 7]

In [86]:
2 in list2 #check해보기

True

In [87]:
3 in list1

False

In [88]:
3 not in list1

True

In [89]:
[5, 6, 9] < [5, 7] #5와 5는 같지만 6이 7보다 작기 때문

True

In [90]:
s1 = {1,2,3}

In [91]:
s2 = {3,4,5}

In [92]:
s1 | s2 #union

{1, 2, 3, 4, 5}

In [93]:
s1 & s2 #intersection

{3}

In [94]:
s2 - s1

{4, 5}

In [95]:
s1 ^ s2

{1, 2, 4, 5}

In [1]:
if( 1 < 2) :
    print(True)

True

In [2]:
if ( 1 > 2) :
    print(True)
else :
    print(False)

False

In [6]:
a = 5
b = 5

In [8]:
if(a < b):
    print("a smaller than b")
elif(a > b):
    print("b smaller than a")
else:
    print("a = b")

a = b

In [1]:
c = [1,3,6,9,8,7] #it is a list

In [2]:
for i in c:
    print(i)

1
3
6
9
8
7

In [4]:
len(c) #it is the statement to know the length of a list

6

In [6]:
i = 0
while i < len(c):
    print(c[i]) #c[0][1][2][3][4]
    i = i + 1   #i=1 2 3 4 5

1
3
6
9
8
7

In [9]:
data = [1,2,3,4,5]

In [11]:
for number in data:
    if number == 3:
        continue
    print(number)

1
2
4
5

In [12]:
for number in data:
    if number == 3:
        break
    print(number)

1
2

In [13]:
c = [1,3,6,8,9,2,4]

In [14]:
for i in c:
    if(i < 3):
        print(i)
    else:
        continue

1
2

In [15]:
for i in c:
    if(i < 3):
        print(i)
    else:
        break #continu하지 않고 그냥 1에서 멈춤

1

In [17]:
def disp():
    print('HUFS')

In [18]:
disp()

HUFS

In [19]:
def disp(name):
    print(name)

In [20]:
disp(5) #name이 5이기 때문

5

In [21]:
def display(name, school):
    print(name, school)
    
display("Bernardo", "HUFS")
display("Park", "Korea")
display("Lee", "Seoul")

Bernardo HUFS
Park Korea
Lee Seoul

In [31]:
list1 = [1, 2, 3, 4, 5]

def count1(data, target):
    n = 0
    for number in data:
        if number == target: #1==3? 2==3? 3==3? yes->n=1 #4==3? #5==3?
            n+=1 #n=1
    print(n)
    
count1(list1, 3)

1

In [32]:
list1 = [1, 2, 3, 4, 5]

def count2(data, target):
    n = 0
    for number in data:
        if number == target:
            n +=1
    return n #assign result to in variable
    
count2(list1, 3)

1

In [33]:
cnt1 = count1(list1,3) #print와 같은것(=오른쪽)

1

In [34]:
cnt1

In [35]:
cnt2 = count2(list1, 3)

In [37]:
cnt2

1

In [1]:
list3 = [5,6]
def display1(name, count):
    print(name)
    count[1] = count[0] - 1
    a = 5
    return count[1]

display1("Bernardo", list3)

Bernardo

4

In [2]:
print('maroon',5)

maroon 5

In [1]:
name = input("what is your name?")

what is your name? Bernardo

In [2]:
print(name)

Bernardo

In [3]:
year = int(input("what year were you born?"))

what year were you born? 2000

In [4]:
print(year)

2000

In [1]:
age = int(input('Enter your age in years: '))
max_heart_rate = 206.9 - (0.67*age)
target = 0.65 * max_heart_rate
print('Your target fat - burning heart rate is',target)

Enter your age in years:  20

Your target fat - burning heart rate is 125.775

In [12]:
fp = open('sample.txt','r')

In [13]:
fp.read()

'2\n3\n4\n5\n6'

In [14]:
for i in fp:
    print(i)

In [16]:
x = -1
if x < 0:
    raise ValueError('x cannot be negative. The value of x was : {}'.format(x))

ValueError: x cannot be negative. The value of x was : -1

In [18]:
a = 5
b = 0
try:
    ratio = a / b
except ZeroDivisionError:
        print("you divide a number with zero")

you divide a number with zero

In [19]:
ratio = 5 / 0

ZeroDivisionError: division by zero

In [20]:
c = [1,3,5]

In [21]:
i = iter(c)

In [22]:
next(i)

1

In [23]:
next(i)

3

In [24]:
next(i)

5

In [25]:
next(i) #error나는 이유는 더 이상 요소가 없기때문

StopIteration:

In [26]:
def factors(n) :
    for k in range(1, n+1):
        if n % k ==0:
            yield k

In [27]:
factors(10)

In [28]:
v = factors(10)

In [29]:
for i in v:
    print(i)

1
2
5
10

In [42]:
n= -5
print(n)

-5

In [44]:
param = n if (n>=0) else -n
print(param)

5

In [31]:
n = -5
param = n if n >=0 else - n
print(param)

5

In [32]:
data = 2,4,6,8

In [33]:
data

(2, 4, 6, 8)

In [40]:
a, b, c, d= range(7,11)

In [41]:
print(a,b,c,d)

7 8 9 10